/* Reset básico */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f2f4f7;
}

p {
    font-size: 28px;
}


.input-container {
    position: relative;
}


input {
    border: solid 1px rgba(128, 128, 128, 0.419);
    margin-bottom: 10px;
    font-size: 17px;
    padding: 14px 16px;
    width: 100%;
    border-radius: 5px;
}

input:focus {
    border-color: #0866ff; 
    box-shadow: 0 0 5px rgba(8, 102, 255, 0.5);
    outline: none;
    
}

hr{
    margin-top: 20px;
   border: solid 0.1px rgba(164, 163, 163, 0.323);
}


footer{
    background: white;
    padding: 45px 15rem;
}

footer hr{
    margin: 10px 0;
}

ul{
    display: flex;
    flex-wrap: wrap;
    
}

li{
    color: #737373;
    list-style: none;
    padding: 0 5px;
    font-size: 12px;
}

li:hover{
    cursor: pointer;
    text-decoration: underline;
}

label{
    font-size: 12px;
    color: #737373;
}

#password {
    padding-right: 35px; 
}


#togglePassword {
    position: absolute;
    right: 20px; 
    top: 50%; 
    transform: translateY(-60%);
    cursor: pointer;
    color: #aaa;
    display: none; 
}

#content {
    padding-top: 4rem;
    padding-bottom: 3rem;
}

#form {
    box-shadow: #aaa 0px 0px 6px 0;
    text-align: center;
    border-radius: 10px;
    align-items: center;
    width: 396px;
    padding: 10px 15px;
    background: white;
}

.text-2:hover{
    text-decoration:underline
}

.list-content {
    padding: 30px 0;
    margin: 0 270px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.facebook {
    padding: 112px 0 19px;
}

.content{
    width: 100rem;
}

.content-2 {
    margin-bottom: 10rem;
    padding: 5rem;
}

.text-1{
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
}

.text-1 a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.text-2{
    text-decoration: none;
    color:#0866ff;
    font-size: 14px;
    
}

.boton-1 {
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: #0866ff;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    width: 100%;
}

.boton-1 a{
    color: white;
    text-decoration: none;
}

.boton-1:hover{
    background: #126cfd;
    cursor: pointer;
}

.boton-2{
    margin: 25px 0 15px;
    border: #42b72a;
    border-radius: 5px;
    background: #42b72a;
    color: white;
    font-weight: bold;
    font-size: 17px;
    padding: 14px;
    width: 12rem;
}

.boton-2:hover{
    background: #3daa27;
    cursor: pointer;
}

.boton-3{
    color: #737373;
    padding: 0 5px ;
}

.list-2{
    color: #737373;
    text-decoration: none;
    margin-top: 5px;
    padding-left: 20px;
    align-content: space-around;
}   

.list-3{
    margin-top: 5px;
}

.list-2 a{
    text-decoration: none;
    color: #737373;
}

.list-3 a{
    text-decoration: none;
    color: #737373;
}

